<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/image/logo.png">
    <title>CODINATION</title>
    <!-- Bootstrap core CSS -->
    <link href="/CSS/bootstrap.min.css" rel="stylesheet">
    <!--    추가 css-->
    <style>
        .navbar-nav>li>a {
            color: #777 !important;
        }

        #bs-example-navbar-collapse-1{
            background-color: whitesmoke;
        }
    </style>
</head>

<body style="
    background-color: #EDEDED;
">
    <nav class="navbar navbar-default" style="
    border: 0px;
    background-color: #fff;
    margin-bottom: 0px;
">
        <div class="container" style="
    width: 100%;
    padding: 0;
    margin: 0;
">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="
    margin: 0;
    width: 100%;
    background: #ffa000;
">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="
    margin-left: 15px;
    float: left;
    margin-right: 0;
"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="/" style="
    margin-left: 5px;
    color: #fff;
"><span></span>
                CODINATION
                </a>
                <form class="navbar-form navbar-right" style="
    border-radius: 3px;
    padding: 0;
    background-color: #fff;
    float: right;
    margin-right: 3%;
    ">
                    <div class="form-group" style="
    width: calc(100% - 40px);
    margin-bottom: 0;
    display: inline-block;
    background-color: white;
">
                        <input type="text" class="form-control" placeholder="Search" style="width: 100%;border: none;"> </div>
                    <button type="submit" class="btn btn-default" style="
    float: right;
    border: none;
    height: 34px;
"> <img src="/image/search.png" style="
    width: 15px;
    height: 15px;
"></button>
                </form>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="background: whitesmoke; padding-left: 30px; border: 10px; height: 0px;">
                        <ul class="nav navbar-nav">
                            <li><a href="/tutorial">튜토리얼 <span class="sr-only">(current)</span></a></li>
                            <li class="active"><a href="/dictionary">사전</a></li>
                            <li><a href="/qna">Q&amp;A</a></li>
                            <li><a href=".html">블로그</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/blog/profile"><img src="/image/user.png" style="
    height: 20px;
    margin-right: 5px;
">구자민 </a>
                            </li>
                            <li><a href="qna_write.html">글쓰기</a></li>
                        </ul>
                    </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="container" style="
    background-color: #fff;
    margin-top: 30px;
">
        <div>
            <h2>python</h2>
            <p>python의 창시자는 귀도 판 로썸(Guido van Rossum). 1989년 크리스마스 주에, 연구실이 닫혀있어서 심심한 김에 만들었다. 파이선 서문과 마이크로소프트웨어와 한 인터뷰를 보면 알겠지만 사실이다.(…) 공돌이들은 심심할 때 항상 걸작이 나온다.리눅스도 그렇고..</p>
        </div>
        <div style="
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #EDEDED;
">
            <h4>사용법</h4>
            <p>print('hello world!')</p>
        </div>
        <div style="
    margin-bottom: 20px;
">
            <h4>설치</h4>
            <p>1. 다음을 따라하세요.</p> <img src="/image/py_install.png"> </div>
    </div>
    <!--— Bootstrap core JavaScript
    ================================================== —-->
    <!--— Placed at the end of the document so the pages load faster —-->
    <script src="/JS/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="/JS/bootstrap.min.js"></script>
    <!--— Just to make our placeholder images work. Don't actually copy the next line! —-->
    <script src="/JS/holder.min.js"></script>
</body>

</html>
