<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/image/logo.png">
    <title>CODINATION</title>
    <link href="/CSS/navbar.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/CSS/bootstrap.min.css" rel="stylesheet">
    <!--    추가 css-->
    <link href="/CSS/blogUpload.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/CSS/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/JS/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-default" style="
    border: 0px;
    background-color: #fff;
    margin-bottom: 0px;
">
        <div class="container" style="
    width: 100%;
    padding: 0;
    margin: 0;
">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="
    margin: 0;
    width: 100%;
    background: #fd5830;
">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="
    margin-left: 15px;
    float: left;
    margin-right: 0;
"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#" style="
    margin-left: 5px;
    color: #fff;
"><span><img style="
    width: 30px;
    margin-right: 5px;
" id="logo" src="/image/logo.png"></span>
                CODINATION
                </a>
                <form class="navbar-form navbar-left" style="
    border-radius: 3px;
    padding: 0;
    background-color: #fff;
    float: right;
    margin-right: 3%;
    ">
                    <div class="form-group" style="
    width: calc(100% - 40px);
    margin-bottom: 0;
    display: inline-block;
    background-color: white;
">
                        <input type="text" class="form-control" placeholder="Search" style="width: 100%;border: none;"> </div>
                    <button type="submit" class="btn btn-default" style="
    margin-top: 3px;
    float: right;
    border: none;
"> <img src="/image/search.png"></button>
                </form>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="padding-left: 30px;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #da9281;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">시리즈 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">사전</a></li>
                    <li><a href="#">Q&amp;A</a></li>
                    <li><a href="#">블로그</a></li>
                    <li><a href="#">MY</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><img src="/image/user.png" style="
    height: 20px;
    margin-right: 5px;
">구자민 </a>
                    </li>
                    <li><a href="#">질문하기</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"> <a href="#">
                        #JAVA 마스터 강좌
                    </a> </li>
                <li> <a href="#">코딩이란?</a> </li>
                <li> <a href="#">코딩이란?</a> </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" style="
    text-align: center;">
                        <h1>코딩이란?</h1>
                        <p>2000.00.00</p>
                    </div>
                    <hr>
                    <div> 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용 </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>

</html>