<% var which=which? which:null%>
    <div class="subHeader">
        <div>
            <span class="subHeaderMenu" style="<% if(which===1){ %>border-bottom-style: solid; <% } %>  padding-bottom: 12px;">
            <a href="/my/profile" style="color: #fff;">프로필</a>
        </span>
            <span class="subHeaderMenu" style="<% if(which===2){ %>border-bottom-style: solid; <% } %>  padding-bottom: 12px;">
            <a href="/my/post" style="color: #fff;">포스트</a>
        </span>
            <span class="subHeaderMenu" style="<% if(which===3){ %>border-bottom-style: solid; <% } %>  padding-bottom: 12px;">
            <a href="/my/series" style="color: #fff;">시리즈</a>
        </span>
            <span class="subHeaderMenu" style="<% if(which===4){ %>border-bottom-style: solid; <% } %>  padding-bottom: 12px;">
            <a href="/my/tutorial" style="color: #fff;">튜토리얼</a>
        </span> </div>
    </div>
