<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="image/logo.png">
    <title>CODINATION</title>
    <link href="./CSS/navbar.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="./CSS/bootstrap.min.css" rel="stylesheet">
    <!--    textarea 등-->
    <link href="./CSS/answer.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="./CSS/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./JS/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .navbar-nav>li>a {
            text-align: left;
        }
        
        .navbar-nav>li>a {
            color: #777 !important;
        }
        
        #bs-example-navbar-collapse-1{
            background-color: whitesmoke;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default" style="
    border: 0px;
    background-color: #fff;
    margin-bottom: 0px;
">
        <div class="container" style="
    width: 100%;
    padding: 0;
    margin: 0;
">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="
    margin: 0;
    width: 100%;
    background: #ffa000;
">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="
    margin-left: 15px;
    float: left;
    margin-right: 0;
"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#" style="
    margin-left: 5px;
    color: #fff;
"><span></span>
                CODINATION
                </a>
                <form class="navbar-form navbar-right" style="
    border-radius: 3px;
    padding: 0;
    background-color: #fff;
    float: right;
    margin-right: 3%;
    ">
                    <div class="form-group" style="
    width: calc(100% - 40px);
    margin-bottom: 0;
    display: inline-block;
    background-color: white;
">
                        <input type="text" class="form-control" placeholder="Search" style="width: 100%;border: none;"> </div>
                    <button type="submit" class="btn btn-default" style="
    float: right;
    border: none;
 height: 34px;
"> <img src="image/search.png" style="
    width: 15px;
    height: 15px;
"></button>
                </form>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="padding-left: 30px;border: 10px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">시리즈 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">사전</a></li>
                    <li><a href="#">Q&amp;A</a></li>
                    <li><a href="#">블로그</a></li>
                    <li><a href="#">MY</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><img src="image/user.png" style="
    height: 20px;
    margin-right: 5px;
">구자민 </a>
                    </li>
                    <li><a href="#">질문하기</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div id="qna-container" style="
    /* margin: 10%; */
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 10%;
    margin-right: 10%;
">
        <div style="border-color: #EAEAEA; border-style: solid;">
            <div style="
    /* margin: 5%; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
">
                <div style="
    font-size: 15px;
    /* padding: 5px; */
    padding-bottom: 10px;
">전체</div>
                <div style="
    border-top-style: solid;
    border-width: 1px;
    border-color: #EAEAEA;
">
                    <div style="
    margin-bottom: 20px;
">
                        <div> <a style="font-size: 30px;">asdf</a> <span style="
    margin-left: 5px;
">2000.00.00</span> </div>
                        <table>
                            <tr>
                                <td> 이 세상의 애인은 모두가 옛애인이지요 나의 가슴에 성호를 긋던 바람도 스치고 지나가면 그뿐 하늘의 구름을 나의 애인이라 부를 순 없어요 맥주를 마시며 고백한 사랑은 텅 빈 맥주잔 속에 갇혀 뒹굴고 깃발 속에 써놓은 사랑은 펄럭이는 깃발 속에서만 유효할 뿐이지요 이 세상의 애인은 모두가 옛애인이지요 복잡한 거리가 행인을 비우듯 그대는 내 가슴의 한복판을 스치고 지나간 무례한 길손이었을 뿐 </td>
                                <td style="
    text-align: center;
">
                                    <div style="color: #696969;
    border-width: 2px;
    border-color: #EAEAEA;
    margin-left: 30px;
    border-style: solid;
    border-radius: 50%;
    padding: 15px;
"> <span style="
    font-size: 20px;
" v>3</span>
                                        <br>answer </div>
                                </td>
                            </tr>
                        </table>
                        <div style="
    margin-top: 5px;
"> <img src="image/user.png" style="
    width: 20px;
    height: 20px;
"> <span style="
    margin-left: 5px;
">구자민</span> </div>
                    </div>
                </div>
                <div style="
    border-top-style: solid;
    border-width: 1px;
    border-color: #EAEAEA;
">
                    <div style="
    margin-bottom: 20px;
">
                        <div> <a style="font-size: 30px;">asdf</a> <span style="
    margin-left: 5px;
">2000.00.00</span> </div>
                        <table>
                            <tr>
                                <td> 이 세상의 애인은 모두가 옛애인이지요 나의 가슴에 성호를 긋던 바람도 스치고 지나가면 그뿐 하늘의 구름을 나의 애인이라 부를 순 없어요 맥주를 마시며 고백한 사랑은 텅 빈 맥주잔 속에 갇혀 뒹굴고 깃발 속에 써놓은 사랑은 펄럭이는 깃발 속에서만 유효할 뿐이지요 이 세상의 애인은 모두가 옛애인이지요 복잡한 거리가 행인을 비우듯 그대는 내 가슴의 한복판을 스치고 지나간 무례한 길손이었을 뿐 </td>
                                <td style="
    text-align: center;
">
                                    <div style="color: #696969;
    border-width: 2px;
    border-color: #EAEAEA;
    margin-left: 30px;
    border-style: solid;
    border-radius: 50%;
    padding: 15px;
"> <span style="
    font-size: 20px;
" v>3</span>
                                        <br>answer </div>
                                </td>
                            </tr>
                        </table>
                        <div style="
    margin-top: 5px;
"> <img src="image/user.png" style="
    width: 20px;
    height: 20px;
"> <span style="
    margin-left: 5px;
">구자민</span> </div>
                    </div>
                </div>
            </div>
            <nav aria-label="..." style="
    text-align: center;
    /* border: none; */
">
                <ul class="pagination pagination-sm">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span> </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span> </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./JS/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="./JS/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="./JS/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./JS/ie10-viewport-bug-workaround.js"></script>
</body>

</html>