<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/image/logo.png">
    <title>CODINATION</title>
    <!-- Bootstrap core CSS -->
    <link href="/CSS/bootstrap.min.css" rel="stylesheet">
    <!--    추가 css-->
    <link href="/CSS/navbar.css" rel="stylesheet">
    <link href="/CSS/postView.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/CSS/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/JS/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        @media (max-width: 480px) {
            .content-container {
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 20px;
            }
        }

        .navbar-nav>li>a {
            color: #777 !important;
        }

        #bs-example-navbar-collapse-1{
            background-color: whitesmoke;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default" style="
    border: 0px;
    background-color: #fff;
    margin-bottom: 0px;
">
        <div class="container" style="
    width: 100%;
    padding: 0;
    margin: 0;
">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="
    margin: 0;
    width: 100%;
    background: #ffa000;
">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="
    margin-left: 15px;
    float: left;
    margin-right: 0;
"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand"  style="
    margin-left: 5px;
    color: #fff;
" href="/"><span></span>
                CODINATION
                </a>
                <form class="navbar-form navbar-right" style="
    border-radius: 3px;
    padding: 0;
    background-color: #fff;
    float: right;
    margin-right: 3%;
    ">
                    <div class="form-group" style="
    width: calc(100% - 40px);
    margin-bottom: 0;
    display: inline-block;
    background-color: white;
">
                        <input type="text" class="form-control" placeholder="Search" style="width: 100%;border: none;"> </div>
                    <button type="submit" class="btn btn-default" style="
    float: right;
    border: none;
    height: 34px;
"> <img src="/image/search.png" style="
    width: 15px;
    height: 15px;
"></button>
                </form>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="background: whitesmoke; padding-left: 30px; border: 10px; height: 0px;">
                        <ul class="nav navbar-nav">
                            <li><a href="/tutorial">튜토리얼 <span class="sr-only">(current)</span></a></li>
                            <li><a href="/dictionary">사전</a></li>
                            <li><a href="/qna">Q&amp;A</a></li>
                            <li  class="active"><a href="/blog">블로그</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/blog/profile"><img src="/image/user.png" style="
    height: 20px;
    margin-right: 5px;
">구자민 </a>
                            </li>
                            <li><a href="qna_answer.html">글쓰기</a></li>
                        </ul>
                    </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="content-container">
        <div class="top-container">
            <div class="seriesName-container"> <span id="series">
                    시리즈
                </span> <span id="seriesName">
                    대회, 컨퍼런스
                </span> </div>
            <div class="contentName-container">
                <div id="editViewTitle">WHITECON 컨퍼런스</div>
                <div id="editViewDate">2016.11.02. 00:09</div>
            </div>
            <div class="userName-container"> <img src="/image/guUser.png" style="
    width: 30px;
"> 박상천 </div>
        </div>
        <div class="middle-container">
            <div id="editViewContents">
                <h4>세종대 정보 보안 학과
                </h4>
                <p> 세종대학교 보안동아리인 S!(Security Factorial)이 나와 요즘 핫이슈인 iot 관련 해킹시연을 했습니다 해킹시연 시나리오는 피해자의 핸드폰에 악성파일인 apk를 다운받아 피해자의 메세지&연락처를 탈취하고 카메라로 사진을 찍어 연결되있는 프린터기로 사진을 출력해 협박하는 문자를 보낸다 입니다. </p>
                <br> <img style="width:100%" src="/image/shang1.jpeg">
                <br>
                <br>
                <h4>BOB 세션</h4>
                <p> bob에 관심이 생겨서 BOB부스에서 상담을 받고 <b>BOB세션에서 프로젝트를 구경했는데요 처음에 예쁜 여자분께서 LG iot 취약점 분석 프로젝트를 소개 하셨는데요 취약점 분석이 취약점 분석만하는 것만하는 것이 아니라 공격 시나리오를 생각하는 것을 보고</b> 분석에만 그치면 안되는 구나라고 생각했습니다. </p>
                <br><img style="width:100%" src="/image/shang2.jpeg">
                <br>
                <br>
                <p> 2번째 프로젝트 소개는 남자분이 자동차 보안에 대해 설명해주셨습니다 자동차 해킹 가능성과 보안필요성에대해 설명을 들으면서 자동차가 CAN이라는 프로토콜을 쓰고 브로드캐스트 형식으로 보내서 스니핑에 취약하다는 것을 알게되어 좋았습니다 조금 아쉬운 점을 말하자면 해결하신 방법을 아직 공개를 못하신다고 하셔서.. 살짝 아쉬움이 남았습니다 그리고 이런 프로젝트를 한번 해보고 싶다는 생각이 들었습니다.</p>
                <br> <img style="width:100%" src="/image/shang3.jpeg">
                <br>
                <h4>
                    소감: 컨퍼런스 많이 참여해야겠다!
                </h4> </div>
            <div id="editViewInfo"> <span>
                    <img src="/image/heart.png">
                    0
                </span> <span>
                    <img  src="/image/conversation.png">
                    0
                </span> <span style="
    float: right;">
                    <img src="/image/export.png">
                </span> </div>
        </div>
        <div class="bottom-container">
            <div style="
    /* width: 40%; */
    height: 100px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    ">
                <div style="
    width: 49%;
    position: absolute;
"><img style="position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;" src="http://lorempixel.com/20/500"></div>
                <div style="
    right: 0;
    height: 100px;
    width: 49%;
    position: absolute;
"><img style="position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;" src="http://lorempixel.com/20/500"></div>
            </div>
        </div>
    </div>
    <!--— Bootstrap core JavaScript
    ================================================== —-->
    <!--— Placed at the end of the document so the pages load faster —-->
    <script src="/JS/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="/JS/bootstrap.min.js"></script>
    <!--— Just to make our placeholder images work. Don't actually copy the next line! —-->
    <script src="/JS/holder.min.js"></script>
    <!--— IE10 viewport hack for Surface/desktop Windows 8 bug —-->
    <script src="/JS/ie10-viewport-bug-workaround.js"></script>
</body>

</html>
